# Entornos virtuales
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.pyc
*.pyo

# Cache de pytest
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Distribución
*.egg-info/
build/
dist/
